*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    /* height: 100vh; */
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 118px);
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.big-layout{
    grid-column: span 6;
    grid-row: span 2;
}
.square-layout{
    grid-column: span 2;
    grid-row: span 2;
}
.wide-layout{
    grid-column: span 2;
    grid-row: span 1;
}
.small-layout{
    grid-column: span 1;
    grid-row: span 1;
}



/* media query */
/* small devices */
@media (max-width: 576px) {
    .container{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1);
    }
    .big-layout, .square-layout, .wide-layout, .small-layout{
        grid-column: span 2;
        grid-row: span 2;
    }
}

/* medium devices */
@media (min-width: 577px) and (max-width: 992px) {
    .container{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2);
    }
     .big-layout{
        grid-column: span 4;
        grid-row: span 2;
     }
    .square-layout{
        grid-column: span 2;
        grid-row: span 2;
    }
    .wide-layout{
        grid-column: span 2;
        grid-row: span 1;
    }
}